.container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5em;

  background-color: #555555;
  font-size: 18px;
  color: white;
}